h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.block1 {

}

.hairColor {
    width: 120px;
}

.height {
    width: 100px;
}

.weight {
    width: 100px;
}

.avatar {
    width: 500px;
}

.addressNumber {
    width: 100px;
}

.container {
    width: 800px;
    padding-top: 20px;
}

.summaryInfo {
    display: flex;
!important;
    flex-direction: column;
!important;
    flex-wrap: wrap;
!important;
}

#overlay {
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    text-align: center;
}